.container-ProyectCard {
  color: white;
  display: flex;
  flex-direction: row;
  height: 280px;
  margin: auto;
  margin-bottom: 20px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.container-Right {
  width: 420px;
  height: 280px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding-left: 10px;
  justify-content: center;
  align-content: center;
}

.nameProyect {
  font-size: 30px;
}
.abstractProyect {
  font-size: 18px;
}

.container-Left {
  width: 380px;
  height: 250px;
  overflow: hidden;
  border-radius: 15px;
  background-color: #2b3544;
  display: flex;
  align-items: end;
  justify-content: end;
  align-content: end;
}

.imgProyect {
  border-radius: 15px 1px 15px 1px;
  width: 93%;
  height: 92%;
  transition: transform 0.4s ease;
}

.imgProyect:hover {
  transform: scale(1.1);
}

.iconTool {
  height: 24px;
  width: 40px;
  color: white;
}

.itemTool-container {
  display: flex;
}

.nameProyect,
.abstractProyect,
.itemTool-container,
.view-container {
  margin: 0;
  padding: 0;
  margin-left: 15px;
}

.view-container {
  display: flex;
  gap: 10px;
}

.viewCard {
  background-color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 5px;
  font-size: 20px;
}

.url-viewCard {
  text-decoration: none;
  color: #1e2736;
  display: flex;
  align-items: center;
  gap: 2px;
}

.icon-link {
  font-size: 15px;
  margin-left: 3px;
}

.viewCard:hover {
  .icon-link {
    animation: girar 0.5s forwards;
  }
}

@keyframes girar {
  0% {
    margin-left: 0px;
    transform: rotate(0deg);
  }
  100% {
    margin-left: 5px;
    transform: rotate(90deg);
  }
}

@media (max-width: 740px) {
  .container-ProyectCard {
    flex-direction: column;
    height: fit-content;
    width: 90%;
    margin-bottom: 25px;
  }

  .container-Left {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
  }

  .abstractProyect {
    width: 100%;
  }
  .container-Right {
    width: 100%;
  }

  .nameProyect {
    font-size: 40px;
  }
  .abstractProyect {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .container-Left {
    height: 280px;
  }
}

@media (max-width: 420px) {
  .container-ProyectCard {
    flex-direction: column;
    height: 100%;
    gap: 20px;
  }
  .container-Left {
    height: 200px;
  }

  .container-Right {
    padding: 0px;
    margin: 0px;
    margin-bottom: 10px;
  }
  .nameProyect,
  .abstractProyect,
  .itemTool-container,
  .view-container {
    margin-left: 0px;
  }

  @media (max-width: 300px) {
    .container-ProyectCard {
      margin-bottom: 0px;
      gap: 0;
    }
    .nameProyect {
      font-size: 20px;
    }
    .abstractProyect {
      font-size: 15px;
    }
    .container-Left {
      margin-bottom: 0;
    }
  }
}
